html
  head
    title= title || 'Todolist'
    link(href="./vendors/normalize.css/normalize.css" rel="stylesheet")
  body
    #content!= content
    script(type="application/json" id="data")!= data
    if process.env.NODE_ENV === 'production'
      script(src="/bundle.js")
    else
      script(src="/jspm_packages/system.js")
      script(src="/config.js")
      script System.import('/app/main');
